.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20%;
    padding-top: 0;
}
.text .title{
    font-size: 25px;
    color:darkblue;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 5% ;
}

.image-container {
    display: flex;
    gap: 32px;
}

.images-right1 {
    margin-bottom: 24px;
}

.images-bottom {
    display: flex;
    gap: 32px;
}
@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
    }
}
@media (max-width: 440px) {
    .images-bottom {
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    .container{
        padding: 5%;
    }
}